{% extends "base.html" %}
{% load static %}

{% block "titulo" %} Página principal {% endblock %}

{% block "cuerpo" %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">
            <a href="http://camisalud.com.ar/"
               target="_blank">CAMI Salud</a>
          </h3>

          <ul class="nav masthead-nav">
            <li class="active">
              <a href="#">Gestión</a>
            </li>

            <li>
              <a href="#">Resumen</a>
            </li>

            <li>
              <a href="#">Seguro</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Gestión de Activos.</h1>

        <p class="lead">Aquí puede gestionar todos los equipos de la empresa
          y obtener resúmenes valorizados de los mismos.
        </p>

        <p class="lead"><a class="btn btn-lg btn-info" href="#">Ingresa</a></p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p><a href="http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2Fg6GWQ"
                target="_blank"><small>HTML</small><sup>5</sup></a></p>

          <p><a href="mailto:rafaelferrero@gmail.com?Subject=Necesito%20ayuda"
                target="_top"">© 2016 Rafael E. Ferrero</a></p>
        </div>
      </div>
    </div>
</div>
</div>
{% endblock %}