<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="print-style.css" type="text/css" media="print" />
        <title>{% block "titulo" %}P&aacute;gina en Construcci&oacute;n.{% endblock %}</title>
    </head>
    <body>
        {% block "cuerpo" %}
            <img id="imagen" src="images/construccion.jpg" alt="P&acute;gina en Construcci&oacute;n."/>
        {% endblock %}
    </body>
</html>